body {
  margin: 0;
  padding: 0;
  background-color: var(--background-black);
  color: var(--text-light);
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1;
}

button:hover {
  background-color: var(--primary-blue);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
button:focus, a:focus {
  outline: 2px solid var(--secondary-orange);
}
